.photo-grid {
  margin: 92px auto;
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  }
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: 90.5%;
    gap: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: 93.7%;
    gap: 14px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid { 
    width: 90%;
    margin: 0 auto;
    gap: 12px;
  }
}