@media (min-width: 501px) and (max-width: 767px) {
 
  .header {
    width: 90%;
    margin: 16px auto 48px;
  }
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
  .header__lang_link {
    max-width: 22px;
    max-height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  
  
  
  .lead__image {
    margin: 40px auto 8px;
    width: 100%;
  }
  .lead__caption {
  margin-left: 16px;
  font-size: 10px;
  line-height: 14px;
  }
  .intro {
    width: 90%;
    margin: 64px auto;
  }
  .intro__title {
    width: 100%;
  font-size: 32px;
  line-height: 35px;
  }
  .photo-grid { 
    width: 90%;
    margin: 0 auto;
   gap: 12px;
  }
  .places { 
    margin: 64px 0 66px; 
    width: 100%;
  }
  .place {
    width: 100%;
    margin: 50px auto;
    row-gap: 32px; 
    grid-template-areas:
    "title" 
    "website"
    "image" 
    "paragraphs" ;
  }
  .place__title {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
  .place__image {
    width: 100%;
    margin: 0 auto;
  }
  .place__website {
    width: 90%;
    margin: 0 auto;
    }
  .place__url-heading {
    margin: 0 0 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
    }
  .place__link {
    margin: 0;
    padding: 0;
  font-size: 18px;
  line-height: 22px; 
  }
  
  .place__paragraphs {
    max-width: 90%;
    margin: 0 auto;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .cover {
    width: 100%;
  }
  .cover__background { 
    max-height: 480px;
    gap: 16px;
  }
  
  .cover__title {
    margin: 10% auto 0;
    width: 90%;
    font-size: 52px;
    line-height: 55px;
  }
  .cover__subtitle { 
    margin: 0 auto 10%;
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
  
  .footer {
    margin: 64px 0 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__links {
    display: grid;
    gap: 32px;
  }
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
   
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  } 
}
@media screen and (min-width: 322px) and (max-width: 500px) {
  .header {
    width: 90%;
    margin: 16px auto 48px;
  }
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
  .header__lang_link {
    max-width: 22px;
    max-height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  
  
  
  .lead__image {
    margin: 40px auto 8px;
    width: 100%;
  }
  .lead__caption {
  margin-left: 16px;
  font-size: 10px;
  line-height: 14px;
  }
  .intro {
    width: 90%;
    margin: 64px auto;
  }
  .intro__title {
    width: 100%;
  font-size: 32px;
  line-height: 35px;
  }
  .photo-grid { 
    width: 90%;
    margin: 0 auto;
   gap: 12px;
  }
  .places { 
    margin: 64px 0 66px; 
    width: 100%;
  }
  .place {
    width: 100%;
    margin: 50px auto;
    row-gap: 32px; 
    grid-template-areas:
    "title" 
    "website"
    "image" 
    "paragraphs" ;
  }
  .place__title {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
  .place__image {
    width: 100%;
    margin: 0 auto;
  }
  .place__website {
    width: 90%;
    margin: 0 auto;
    }
  .place__url-heading {
    margin: 0 0 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
    }
  .place__link {
    margin: 0;
    padding: 0;
  font-size: 18px;
  line-height: 22px; 
  }
  
  .place__paragraphs {
    max-width: 90%;
    margin: 0 auto;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .cover {
    width: 100%;
  }
  .cover__background { 
    max-height: 300px;
    gap: 16px;
  }
  .cover__title {
    margin: 12% auto 0;
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle { 
    margin: 0 auto 12%;
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
  
  .footer {
    margin: 64px 0 0 18px;
    display: flex;
    flex-direction: column;
  }
  .footer__links {
    display: grid;
    gap: 32px;
  }
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
   
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}
