.lead__subtitle {
  margin: 32px auto 64px;
  width: 50%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    width: 68%;
    margin: 32px auto 56px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    width: 83%;
    margin: 32px auto 56px;
  }
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px auto 0;
    width: 90%;
    font-size: 16px;
  }
}